<!-- @format -->

<ngx-flow-ui-button color="blue" fill="solid" size="xs">Blue</ngx-flow-ui-button>
<ngx-flow-ui-button color="red" fill="solid" size="xs">Red</ngx-flow-ui-button>
<ngx-flow-ui-button color="green" fill="solid" size="xs">Green</ngx-flow-ui-button>
<ngx-flow-ui-button color="yellow" fill="solid" size="xs">Yellow</ngx-flow-ui-button>
<br />
<ngx-flow-ui-button color="blue" fill="solid" size="xs" [disabled]="true">Blue</ngx-flow-ui-button>
<ngx-flow-ui-button color="red" fill="solid" size="xs" [disabled]="true">Red</ngx-flow-ui-button>
<ngx-flow-ui-button color="green" fill="solid" size="xs" [disabled]="true">Green</ngx-flow-ui-button>
<ngx-flow-ui-button color="yellow" fill="solid" size="xs" [disabled]="true">Yellow</ngx-flow-ui-button>
<br />
<ngx-flow-ui-button color="blue" fill="solid" size="lg">Blue</ngx-flow-ui-button>
<ngx-flow-ui-button color="red" fill="solid" size="lg">Red</ngx-flow-ui-button>
<ngx-flow-ui-button color="green" fill="solid" size="lg">Green</ngx-flow-ui-button>
<ngx-flow-ui-button color="yellow" fill="solid" size="lg">Yellow</ngx-flow-ui-button>
<br />
<ngx-flow-ui-button color="blue" fill="outline" size="xs">Blue</ngx-flow-ui-button>
<ngx-flow-ui-button color="red" fill="outline" size="xs">Red</ngx-flow-ui-button>
<ngx-flow-ui-button color="green" fill="outline" size="xs">Green</ngx-flow-ui-button>
<ngx-flow-ui-button color="yellow" fill="outline" size="xs">Yellow</ngx-flow-ui-button>
<br />
<ngx-flow-ui-button color="blue" fill="solid" size="xs" mode="svg">
  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-button>
<ngx-flow-ui-button color="red" fill="solid" size="xs" mode="svg">
  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-button>
<ngx-flow-ui-button color="green" fill="solid" size="xs" mode="svg">
  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-button>
<ngx-flow-ui-button color="yellow" fill="solid" size="xs" mode="svg">
  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-button>
<br />
<ngx-flow-ui-button color="blue" fill="solid" size="xs" mode="label+svg">
  Blue
  <svg class="ms-1.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-button>
<ngx-flow-ui-button color="red" fill="solid" size="xs" mode="label+svg">
  Red
  <svg class="ms-1.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg> </ngx-flow-ui-button
><ngx-flow-ui-button color="green" fill="solid" size="xs" mode="label+svg">
  Green
  <svg class="ms-1.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg> </ngx-flow-ui-button
><ngx-flow-ui-button color="yellow" fill="solid" size="xs" mode="label+svg">
  Yellow
  <svg class="ms-1.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-button>
<br />
