<!-- @format -->

<ngx-flow-ui-badge color="blue" fill="solid" size="xs">Blue</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="red" fill="solid" size="xs">Red</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="green" fill="solid" size="xs">Green</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="yellow" fill="solid" size="xs">Yellow</ngx-flow-ui-badge>
<br />
<ngx-flow-ui-badge color="blue" fill="solid" size="lg">Blue</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="red" fill="solid" size="lg">Red</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="green" fill="solid" size="lg">Green</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="yellow" fill="solid" size="lg">Yellow</ngx-flow-ui-badge>
<br />
<ngx-flow-ui-badge color="blue" fill="outline" size="xs">Blue</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="red" fill="outline" size="xs">Red</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="green" fill="outline" size="xs">Green</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="yellow" fill="outline" size="xs">Yellow</ngx-flow-ui-badge>
<br />
<ngx-flow-ui-badge color="blue" fill="solid" size="xs" pill="enable">Blue</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="red" fill="solid" size="xs" pill="enable">Red</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="green" fill="solid" size="xs" pill="enable">Green</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="yellow" fill="solid" size="xs" pill="enable">Yellow</ngx-flow-ui-badge>
<br />
<ngx-flow-ui-badge color="blue" fill="solid" size="xs" mode="svg">
  <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="red" fill="solid" size="xs" mode="svg">
  <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="green" fill="solid" size="xs" mode="svg">
  <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="yellow" fill="solid" size="xs" mode="svg">
  <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
</ngx-flow-ui-badge>
<br />
<ngx-flow-ui-badge color="blue" fill="solid" size="xs" mode="label+svg">
  <svg class="me-1.5 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  Blue
</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="red" fill="solid" size="xs" mode="label+svg">
  <svg class="me-1.5 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  Red
</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="green" fill="solid" size="xs" mode="label+svg">
  <svg class="me-1.5 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  Green
</ngx-flow-ui-badge>
<ngx-flow-ui-badge color="yellow" fill="solid" size="xs" mode="label+svg">
  <svg class="me-1.5 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  Yellow
</ngx-flow-ui-badge>
